<p *ngIf="successMessage">Register success</p>



<section class="row">
	<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="card col-5 mx-auto p-5">
		<fieldset class="form-group">
			<label for="name" class="form-label">Nom</label>
			<input id="name" type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': (name && name.errors && (name.touched || name.dirty) && (name.errors['minlength'] || name.errors['required'])), 'is-valid': (name && !name.errors)}">
		</fieldset>

		<fieldset class="form-group">
			<label for="email" class="form-label">Email</label>
			<input id="email" type="text" formControlName="email" class="form-control" [ngClass]="{'is-invalid': (email && email.errors && (email.touched || email.dirty) && (email.errors['required'] || email.errors['email'])), 'is-valid': (email && !email.errors)}">
		</fieldset>

		<fieldset class="form-group">
			<label for="address" class="form-label">Adresse</label>
			<input id="address" type="text" formControlName="address" class="form-control" [ngClass]="{'is-invalid': (address && address.errors && (address.touched || address.dirty) && (address.errors['required'])), 'is-valid': (address && !address.errors)}">
		</fieldset>

		<fieldset class="form-group">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{'is-invalid': (password && password.errors && (password.touched || password.dirty) && (password.errors['required'] || password.errors['pattern']))}">
		</fieldset>

		<fieldset class="form-group">
			<label for="password_verify" class="form-label">Retapez votre mot de passe</label>
			<input type="password" formControlName="password_verify" [ngClass]="{'is-invalid': (password_verify && password_verify.errors && (password_verify.touched || password_verify.dirty) && (password_verify.errors['required'] || password_verify.errors['mismatch'] )), 'is-valid': (password_verify && !password_verify.errors)}" id="password_verify" class="form-control">
		</fieldset>
	
		<button type="submit" [disabled]="!userForm.valid" class="btn btn-outline-success mt-5">Submit</button>
	</form>
</section>