<section class="row content">
	<aside class="col-4 sticky">

		<app-update-pastrie [ngClass]="{'card': modifyId !== undefined}" [modifyId]="modifyId"
			(aborting)="abort($event)" (update)="updatePastrie($event)"></app-update-pastrie>

		<app-create-pastrie [ngClass]="{'card': addPastrie === true}" [addPastrie]="addPastrie"
			(aborting)="abort($event)" (newPastrie)="catchPastrie($event)"></app-create-pastrie>

		<app-delete-pastrie [ngClass]="{'card': deleteId.length > 0}" [deleteId]="deleteId"
			(aborting)="abort($event)" (update)="updatePastrie($event)"></app-delete-pastrie>
	</aside>


	<main class="col-8 pastrie">
		<h1>Dashboard</h1>

		<section class="row justify-content-between">
			<button class="btn btn-outline-primary col-2" (click)="createPastrie()">Add pastrie</button>

			<app-search class="col-5" (dashboardSearch)="setSearchPastrie($event)"></app-search>
		</section>


		<table class="table">
			<thead>
				<th>Nom</th>
				<th>Ref</th>
				<th>Tags</th>
				<th colspan="3">Actions</th>
			</thead>
			<tbody>
				<tr *ngFor="let pastrie of pastries">
					<td>{{ pastrie.name }}</td>
					<td>{{ pastrie.ref }}</td>
					<td>{{ pastrie.tags }}</td>
					<td colspan="3"><button class="btn btn-sm btn-outline-success" (click)="modifyPastrie(pastrie.id)">Edit</button>
						<button class="btn btn-sm btn-outline-danger ms-2"
							(click)="deletePastrie(pastrie.id, pastrie.name)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</main>
</section>