<nav class="navbar navbar-expand-lg navbar-light">
	<a class="navbar-brand" href="#">{{ title }}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
		aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" routerLink="" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" routerLink="/play" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }">Jouer</a>
			</li>
			<li class="nav-item mr-auto" *ngIf="userName === null">
				<a class="nav-link" routerLink="/register" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }">S'enregistrer</a>
			</li>
			<li class="nav-item active" *ngIf="userName === null">
				<a class="nav-link" routerLink="/login" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }" href="#">Se connecter</a>
			</li>
			<li class="nav-item active" *ngIf="userName !== null">
				<a class="nav-link" routerLink="/logout" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }" href="#">Se déconnecter</a>
			</li>
			<li class="nav-item active" *ngIf="userName !== null">
				<a class="nav-link" routerLink="/dashboard" routerLinkActive="fw-bold" [routerLinkActiveOptions]="{ exact: true }" href="#">Dashboard</a>
			</li>
		</ul>
	</div>
	<section>
		<p *ngIf="userName === null" class="d-inline me-5">Vous n'êtes pas connecté⋅e</p>
		<p *ngIf="userName !== null" class="d-inline me-5">Connecté⋅e en tant que {{ userName }}</p>
		<app-clock></app-clock>
	</section>
</nav>