<section>
	<p>{{ canPlay }}</p>

	<p *ngIf="!canPlay">Vous devez d'abord sélectionner trois pâtisseries depuis la page d'accueil pour pouvoir jouer.</p>

	<p *ngIf="canPlay">Vous pouvez participer à notre jeu !</p>

	<section *ngIf="selectedPastries.length > 0">
		<p>Vous avez sélectionné les pâtisseries suivantes :</p>
		<ul>
			<li *ngFor="let pastrie of selectedPastries">{{ pastrie.name }}</li>
		</ul>
	</section>
	
</section>