<section *ngIf="deleteId.length > 0">
	<p class="text-danger fw-bold m-2">Êtes-vous sûr⋅e de supprimer la pâtisserie {{ deleteId[1] }} ?</p>
	<button class="btn btn-outline-success btn-sm ms-2 mb-2" (click)="abort()">Annuler</button>
	<button class="btn btn-danger btn-sm ms-2 mb-2" (click)="delete(deleteId[0])">Supprimer</button>
</section>