<section class="row">
	<form [formGroup]="form" (ngSubmit)="log()" class="card col-5 mx-auto p-5">
		<fieldset class="form-group">
			<label for="email" class="form-label">Email</label>
			<input type="text" id="email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': (email && email.errors && (email.touched || email.dirty)), 'is-valid': (email && !email.errors)}">
		</fieldset>


		<fieldset class="form-group">
			<label for="password" class="form-label">Mot de passe</label>
			<input type="password" id="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid': (password && password.errors && (password.touched || password.dirty)), 'is-valid': (password && !password.errors)}" >
			
		</fieldset>

		<button type="submit" [disabled]="!form.valid" class="btn btn-outline-success mt-5">Connect!</button>
	</form>
</section>