<section class="row content">
	<aside class="col-sm-4 sticky">
		<app-pastrie-details [ngClass]="{'card': selectId !== undefined}" [selectId]="selectId" (changePreference)="changeParentPreference($event)"></app-pastrie-details>
	</aside>



	<main class="col-sm-8 pastrie">

		<h1>{{ titlePage }}</h1>

		<app-paginate (pagin)="getPagination($event)" [parentPreference]="parentPreference"></app-paginate>

		<app-search class="col-12" (searchPastries)="setSearchPastrie($event)"></app-search>

		<section *ngIf="pastries.length > 0 else noPastrie">
			<article *ngFor="let pastrie of pastries, let i = index" class="card cursor-pointer" [appBorderCard]="hoverClass" (click)="onSelect(pastrie.id)">
				<header class="card-header">
					<h2>{{ pastrie.ref }}</h2>
				</header>
		
				<section class="card-body">
					<h3 class="card-title">{{ pastrie.name }}</h3>
					<p class="card-text">{{ pastrie.description }}</p>
					<section *ngIf="pastrie.tags || parentPreference.includes(pastrie.id)" class="btn-group d-block" role="group">
						<a *ngFor="let tag of pastrie.tags" class="btn btn-info text-light m-2 p-2 rounded" href="#" role="button">{{ tag }}</a>
						<a *ngIf="parentPreference.includes(pastrie.id)" class="btn btn-outline-danger fw-bold m-2 p-2 rounded" href="#" role="button">Priority</a>
					</section>
		
					<a class="btn btn-outline-dark" href="#" role="button">fr</a>
		
					<img class="glyph-icon" src="./assets/svg/si-glyph-heart.svg" />
					<small>{{ pastrie.like }}</small>
					<img class="glyph-icon" src="./assets/svg/si-glyph-triangle-double-arrow-right.svg" />
					<small [ngClass]="{'text-success': pastrie.quantity >= 4, 'text-warning': pastrie.quantity <= 3 && pastrie.quantity > 1, 'text-danger': pastrie.quantity <= 1}" *ngIf="pastrie.quantity >= 2">{{ pastrie.quantity }} unités disponibles</small>
					<small [ngClass]="{'text-success': pastrie.quantity >= 4, 'text-warning': pastrie.quantity <= 3 && pastrie.quantity > 1, 'text-danger': pastrie.quantity <= 1}" *ngIf="pastrie.quantity <= 1">{{ pastrie.quantity }} unité disponible</small>
				</section>
			</article>
		</section>
		<ng-template #noPastrie><p>Your search returns no pastrie, you can try another one ;)</p></ng-template>


		<app-paginate (pagin)="getPagination($event)" [parentPreference]="parentPreference"></app-paginate>

	</main><!-- .pastrie -->

</section>