<section *ngIf="selectedPastrie != null">
	<img [src]="selectedPastrie.url" class="pastrieImg">
	<h3>{{ selectedPastrie.ref }}</h3>
	<p>Nom : {{ selectedPastrie.name }}</p>

	<button class="btn btn-primary ms-2" href="#" (click)="preference(selectedPastrie.id)" *ngIf="!selected.includes(selectedPastrie.id) && selected.length < 3 && selectedPastrie.quantity >= 1">Select >></button>

	<button class="btn btn-primary ms-2" href="#" (click)="preference(selectedPastrie.id)" *ngIf="selected.includes(selectedPastrie.id)">Unselect >></button>

	<ul *ngIf="ingredients != null" class="list-group mt-2">
		<li class="list-group-item"><h3>Liste des ingrédients</h3></li>
		<li class="list-group-item" *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
	</ul>
</section>