<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
		<li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
			<a class="page-link" (click)="calculPagin(currentPage-1)" tabindex="-1">Previous</a>
		</li>
		<li class="page-item" *ngFor="let page of pages; index as i">
			<a class="page-link" [ngClass]="{'active': currentPage === page}" (click)="calculPagin(page)">{{ i+1 }}</a>
		</li>
		<li class="page-item">
			<a class="page-link" [ngClass]="{'disabled': currentPage === pages.length-1}" (click)="calculPagin(currentPage+1)">Next</a>
		</li>
	</ul>
</nav>