<section *ngIf="addPastrie === true">
	<form [formGroup]="pastrieForm" (ngSubmit)="onSubmit()">
		<fieldset class="input-group my-2">
			<label for="ref" class="input-group-text">Référence :</label>
			<input id="ref" type="text" formControlName="ref" class="form-control"
			  [ngClass]="{
				'is-invalid': ref && ref.errors && (ref.touched || ref.dirty),
				'is-valid': ref && ref.valid && (ref.touched || ref.dirty)
			  }">
			<ng-container *ngIf="ref && ref.errors && (ref.touched || ref.dirty)">
			  <ng-container *ngIf="ref.errors['required']">
				<small class="invalid-feedback">La référence est obligatoire.</small>
			  </ng-container>
			  <small class="invalid-feedback">La référence doit avoir au moins 5 caractères.</small>
			  <ng-container *ngIf="ref.errors['minlength']">
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="name" class="input-group-text">Nom :</label>
			<input type="text" id="name" formControlName="name" class="form-control"
			  [ngClass]="{
				'is-invalid': name && name.errors && (name.touched || name.dirty),
				'is-valid': name && name.valid && (name.touched || name.dirty)
			  }">
			<ng-container *ngIf="name && name.errors && (name.touched || name.dirty)">
			  <ng-container *ngIf="name.errors['required']">
				<small class="invalid-feedback">Le nom est obligatoire.</small>
			  </ng-container>
			  <ng-container *ngIf="name.errors['minlength']">
				<small class="invalid-feedback">Le nom doit avoir au moins 5 caractères.</small>
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="description" class="input-group-text">Description :</label>
			<textarea id="description" formControlName="description" cols="30" rows="10" class="form-control"
			  [ngClass]="{
				'is-invalid': description && description.errors && (description.touched || description.dirty),
				'is-valid': description && description.valid && (description.touched || description.dirty)
			  }"></textarea>
			<ng-container *ngIf="description && description.errors && (description.touched || description.dirty)">
			  <ng-container *ngIf="description.errors['required']">
				<small class="invalid-feedback">La description est obligatoire.</small>
			  </ng-container>
			  <ng-container *ngIf="description.errors['minlength']">
				<small class="invalid-feedback">La description doit avoir au moins 30 caractères.</small>
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="url" class="input-group-text">Image :</label>
			<input type="url" id="url" formControlName="url" class="form-control"
			  [ngClass]="{
				'is-invalid': url && url.errors && (url.touched || url.dirty) && url.errors['required'],
				'is-valid': url && url.valid && (url.touched || url.dirty)
			  }">
			<ng-container *ngIf="url && url.errors && (url.touched || url.dirty)">
			  <small class="invalid-feedback">L'image est obligatoire.</small>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="quantity" class="input-group-text">Quantité :</label>
			<input type="number" id="quantity" formControlName="quantity" class="form-control"
			  [ngClass]="{
				'is-invalid': quantity && quantity.errors && (quantity.touched || quantity.dirty) && (quantity.errors['min'] || quantity.errors['required']),
				'is-valid': quantity && quantity.valid && (quantity.touched || quantity.dirty)
			  }">
			<ng-container *ngIf="quantity && quantity.errors && (quantity.touched || quantity.dirty)">
			  <ng-container *ngIf="quantity.errors['required']">
				<small class="invalid-feedback">La quantité est obligatoire.</small>
			  </ng-container>
			  <ng-container *ngIf="quantity.errors['min']">
				<small class="invalid-feedback">La quantité doit être supérieure ou égale à zéro.</small>
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="order" class="input-group-text">Ordre :</label>
			<input type="number" id="order" formControlName="order" class="form-control"
			  [ngClass]="{
				'is-invalid': order && order.errors && (order.touched || order.dirty) && (order.errors['min'] || order.errors['required']),
				'is-valid': order && order.valid && (order.touched || order.dirty)
			  }">
			<ng-container *ngIf="order && order.errors && (order.touched || order.dirty)">
			  <ng-container *ngIf="order.errors['required']">
				<small class="invalid-feedback">L'ordre est obligatoire.</small>
			  </ng-container>
			  <ng-container *ngIf="order.errors['min']">
				<small class="invalid-feedback">L'ordre doit être supérieur ou égal à zéro.</small>
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="tags" class="input-group-text">Tags :</label>
			<input type="text" id="tags" class="form-control" formControlName="tags"
			  [ngClass]="{
				'is-invalid': tags && tags.errors && (tags.touched || tags.dirty) && (tags.errors['pattern'] || tags.errors['required']),
				'is-valid': tags && tags.valid && (tags.touched || tags.dirty)
			  }">
			<ng-container *ngIf="tags && tags.errors && (tags.touched || tags.dirty)">
			  <ng-container *ngIf="tags.errors['required']">
				<small class="invalid-feedback">Les tags sont obligatoires.</small>
			  </ng-container>
			  <ng-container *ngIf="tags.errors['pattern']">
				<small class="invalid-feedback">Veuillez entrer les tags séparés par des virgules.</small>
			  </ng-container>
			</ng-container>
		  </fieldset>
		  
		  <fieldset class="input-group my-2">
			<label for="like" class="input-group-text">Like :</label>
			<input type="text" id="like" class="form-control" formControlName="like"
			  [ngClass]="{
				'is-invalid': like && like.errors && (like.touched || like.dirty) && like.errors['required'],
				'is-valid': like && like.valid && (like.touched || like.dirty)
			  }">
			<ng-container *ngIf="like && like.errors && (like.touched || like.dirty)">
			  <small class="invalid-feedback">Le champ Like est obligatoire.</small>
			</ng-container>
		  </fieldset>
		
		<section class="my-2">
			<button class="btn btn-sm btn-outline-warning ms-2" (click)="abort()">Abort</button>
			<button class="btn btn-sm btn-outline-success ms-2" type="submit"
				[disabled]="!pastrieForm.valid">Submit</button>
		</section>

	</form>
</section>